<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="de.ims.icarus.tcf" version="0.0.1"
	class="de.ims.icarus.plugins.tcf.TCFPlugin">
	
	<doc>
		<doc-text>
			Interface to the tcf plugin
		</doc-text>
	</doc>
	
	<requires>
		<import plugin-id="de.ims.icarus.core" reverse-lookup="true" />
		<import plugin-id="de.ims.icarus.languageTools" reverse-lookup="true" />
	</requires>
	
	<runtime>
		<library id="source" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="tcf-04" path="lib/wlfxb-0_4.jar" type="code">
			<doc>
				<doc-text>
					tcf04 other bibs?
				</doc-text>
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
	
	<!-- Extensions -->
	
	<extension id="TCF04SentenceDataReader" plugin-id="de.ims.icarus.languageTools" point-id="SentenceDataReader">
		<doc>
			<doc-text>
				TODO
			</doc-text>
		</doc>
		<parameter id="class" value="de.ims.icarus.plugins.tcf.tcf04.TCF04SentenceDataReader" />
	</extension>
</plugin>