<?xml version="1.0" ?>
<!DOCTYPE plugin-fragment PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin-fragment id="net.ikarus_systems.icarus.dependencyMods" version="3.0.1"
		plugin-id="net.ikarus_systems.icarus.dependency">
	
	<doc>
		<doc-text>
			Additional mods for the dependency plugin.
			Meant to be blablablub...
		</doc-text>
	</doc>
	
	<attributes>
		<attribute id="locale" value="en_US">
			<doc>
				<doc-text>
					Locale used for this mod!
				</doc-text>
			</doc>
		</attribute>
	</attributes>

	<runtime>
		<library id="Resources" path="res" type="resources">
			<doc>
				<doc-text>
					Location of additional resources...
				</doc-text>
			</doc>
		</library>
	</runtime>
	
			
	<extension-point id="DependencyEditor" parent-point-id="View" 
			parent-plugin-id="net.ikarus_systems.icarus.core">
		<doc>
			<doc-text>
				Special view for editing dependency sentence data objects.
			</doc-text>
		</doc>
	</extension-point>
	
	<extension id="NewLogView" plugin-id="net.ikarus_systems.icarus.core" point-id="View">
		<doc>
			<doc-text>
				Compact log implementation that allows the user to filter saved
				records etc...
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.core.logView.identity.name" />
		<parameter id="description" value="plugins.core.logView.identity.description" />
		<parameter id="resources" value="net.ikarus_systems.icarus.plugins.core.resources.core" />
		<parameter id="class" value="net.ikarus_systems.icarus.plugins.core.log.LogView" />
		<parameter id="icon" value="net/ikarus_systems/icarus/plugins/core/log/log-view.gif" />
		<parameter id="alignment" value="bottom" />
		<parameter id="priority" value="low" />
	</extension>
</plugin-fragment>