<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="de.ims.icarus.searchTools" version="0.0.1"
	class="de.ims.icarus.plugins.search_tools.SearchToolsPlugin">
	
	<doc>
		<doc-text>
			Base plug-in for search engine utilization and several search erlated
			visualization factories.
		</doc-text>
	</doc>
	
	<attributes>
		<attribute id="de.ims.icarus.resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<attribute id="de.ims.icarus.icons" value="de/ims/icarus/plugins/search_tools/icons/" />
		<attribute id="de.ims.icarus.preferences" value="de.ims.icarus.plugins.search_tools.SearchToolsPreferences" />
	</attributes>
	
	<requires>
		<import plugin-id="de.ims.icarus.core" />
		<import plugin-id="de.ims.icarus.languageTools" />
		<import plugin-id="de.ims.icarus.jgraph" />
	</requires>
	
	<runtime>
		<library id="source" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<!-- Extension-Points -->
			
	<extension-point id="ConstraintContext">
		<doc>
			<doc-text>
				Defines a namespace associated with a collection of supported
				constraint-tokens and the factories required to instantiate those
				constraints. 
			</doc-text>
		</doc>
		<parameter-def id="contentType" type="extension-id"
				custom-data="de.ims.icarus.core@ContentType">
			<doc>
				<doc-text>
					Content type this context should be associated with.
				</doc-text>
			</doc>
		</parameter-def>
		<parameter-def id="token" multiplicity="one-or-more">
			<doc>
				<doc-text>
					Tokens the context supports. Tokens are case-insensitive and will
					be cast to lower-case when registered!
				</doc-text>
			</doc>
			<parameter-def id="alias" multiplicity="any">
				<doc>
					<doc-text>
						Allowed aliases for the token. Note that an alias is NOT
						allowed to be a true prefix of the token it wishes to alias.
						For example 'foo' would by a legal alias for 'bar', but not
						for 'foobar'. Similar to general tokens all aliases are
						case-insensitive and the same cast to lower-case applies upon
						registration.
					</doc-text>
				</doc>
			</parameter-def>
			<parameter-def id="required" multiplicity="none-or-one" type="boolean" default-value="false">
				<doc>
					<doc-text>
						Indicates whether a constraint is required to be displayed 
						in the user interface.
					</doc-text>
				</doc>
			</parameter-def>
		</parameter-def>
		<parameter-def id="factories" multiplicity="one" type="any">
			<doc>
				<doc-text>
					Mapping of constraint tokens to their respective
					factories. Sub-Parameters are interpreted as follows:
					'id' represents the token to be mapped.
					'value' is required to be the fully qualified name of the
					factory that must have a no-args constructor and implement
					de.ims.icarus.plugins.searchTools.ConstraintFactory interface!
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
			
	<extension-point id="SearchConstraint">
		<doc>
			<doc-text>
				Defines a namespace associated with a collection of supported
				constraint-tokens and the factories required to instantiate those
				constraints. 
			</doc-text>
		</doc>
		<parameter-def id="contentType" type="extension-id"
				multiplicity="one-or-more"
				custom-data="de.ims.icarus.core@ContentType">
			<doc>
				<doc-text>
					Content type this constraint should be associated with.
				</doc-text>
			</doc>
		</parameter-def>
		<parameter-def id="token" multiplicity="one-or-more">
			<doc>
				<doc-text>
					Tokens the context supports. Tokens are case-insensitive and will
					be cast to lower-case when registered!
				</doc-text>
			</doc>
		</parameter-def>
		<parameter-def id="required" multiplicity="none-or-one" type="boolean" default-value="false">
			<doc>
				<doc-text>
					Indicates whether a constraint is required to be displayed 
					in the user interface.
				</doc-text>
			</doc>
		</parameter-def>
		<parameter-def id="factory" multiplicity="one">
			<doc>
				<doc-text>
					Fully qualified name of the factory that must have a no-args constructor and 
					implement de.ims.icarus.plugins.searchTools.ConstraintFactory interface!
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
			
	<extension-point id="SearchFactory" parent-point-id="Localizable" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				The search factory used in the search process is responsible
				for transfering a given abstract search-query object into a
				search-object instance that can be executed by the framework.
				In particular it is the central point for possible optimizations
				and the interfacing with content specific access of the target
				structures.
			</doc-text>
		</doc>
		<parameter-def id="contentType" type="extension-id"
				custom-data="de.ims.icarus.core@ContentType">
			<doc>
				<doc-text>
					Hint for the search framework to determine what registered
					constraints can be used when the user constructs a search graph
					for this factory.
				</doc-text>
			</doc>
		</parameter-def>
		<parameter-def id="class">
			<doc>
				<doc-text>
					Factory class itself, required to have no-args constructor and
					implement de.ims.icarus.search_tools.SearchFactory!
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
			
	<extension-point id="SearchFactoryProxy" parent-point-id="SearchFactory" 
			parent-plugin-id="de.ims.icarus.searchTools">
	</extension-point>
			
	<extension-point id="SearchResultPresenter" parent-point-id="Localizable" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				Highly specialized version of regular AWTPresenter implementations
				designed to only handle SearchResult objects of a specific dimension.
				Note that since the dimension of a particular search result is NOT encoded
				in its content-type it is not possible to use the default ui-helper framework
				and therefore registration for search-result presenter implementations is
				performed solely through this extension-point!
			</doc-text>
		</doc>
		<parameter-def id="contentType" type="extension-id" multiplicity="any"
				custom-data="de.ims.icarus.core@ContentType">
			<doc>
				<doc-text>
					Content types this presenter is able to handle. If no content type is
					specified the presenter is considered to be "context-independent".
				</doc-text>
			</doc>
		</parameter-def>
		<parameter-def id="dimension" type="number">
			<doc>
				<doc-text>
					The result dimension this implementation is capable of handling.
					Note that it is not intended for a result rpesenter to be able to
					handle more than one result dimension! It is recommended to specialize
					implementations.
				</doc-text>
			</doc>
		</parameter-def>
		<parameter-def id="class">
			<doc>
				<doc-text>
					Presenter class itself, required to have no-args constructor and
					extend de.ims.icarus.plugins.search_tools.view.results.SearchResultPresenter!
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
			
	<extension-point id="SearchTargetSelector" parent-point-id="Localizable" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				Helper class for the search framework to allow inclusion of arbitrary
				targets.
			</doc-text>
		</doc>
		<parameter-def id="class">
			<doc>
				<doc-text>
					Selector class itself, required to have no-args constructor and
					implement de.ims.icarus.search_tools.SearchResultExportHandler!
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
			
	<extension-point id="SearchResultExportHandler" parent-point-id="Localizable" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				Helper class for the search framework to allow inclusion of arbitrary
				targets.
			</doc-text>
		</doc>
		<parameter-def id="class">
			<doc>
				<doc-text>
					Selector class itself, required to have no-args constructor and
					implement de.ims.icarus.search_tools.SearchTargetSelector!
				</doc-text>
			</doc>
		</parameter-def>
		<parameter-def id="contentType" type="extension-id"
				custom-data="de.ims.icarus.core@ContentType">
			<doc>
				<doc-text>
					Content type this export handler is meant to handle.
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
			
	<extension-point id="SearchOperator">
		<doc>
			<doc-text>
				TODO
			</doc-text>
		</doc>
		<parameter-def id="class">
			<doc>
				<doc-text>
					Operator class itself, required to have no-args constructor and
					extend de.ims.icarus.search_tools.SearchOperator!
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
			
	<extension-point id="SearchToolsView" parent-point-id="View" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				Special entry point for 'View' extensions that only want to
				contribute search tool like capabilities. Typically a perspective
				that holds a collection of search tools will add all extensions
				to this extension-point to its default list of views.
			</doc-text>
		</doc>
	</extension-point>
	
	<!-- Standard Extensions -->
	
	<!-- PERSPECTIVES AND VIEWS -->
	
	<extension id="SearchPerspective" plugin-id="de.ims.icarus.core" point-id="Perspective">
		<doc>
			<doc-text>
				Test-perspective for search stuff
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.searchTools.searchPerspective.identity.name" />
		<parameter id="description" value="plugins.searchTools.searchPerspective.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.SearchPerspective" />
		<parameter id="icon" value="de/ims/icarus/plugins/search_tools/view/search-perspective.png" />
		<parameter id="preview" value="de/ims/icarus/plugins/search_tools/view/search-perspective-preview.png" />
	</extension>
	
	<extension id="QueryEditorView" plugin-id="de.ims.icarus.searchTools" point-id="SearchToolsView">
		<doc>
			<doc-text>
				Compound view containing a graph editor and a text-area for editing a search graph
				both visually and textual.
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.searchTools.queryEditorView.identity.name" />
		<parameter id="description" value="plugins.searchTools.queryEditorView.identity.name" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.editor.QueryEditorView" />
		<parameter id="icon" value="de/ims/icarus/plugins/search_tools/view/query-editor-view.gif" />
		<parameter id="alignment" value="center" />
		<parameter id="priority" value="high" />
		
		<!-- CAPABILITIES -->
		<parameter id="capabilities">
			<parameter id="clear" />
			<parameter id="display" value="SearchQueryContentType" />
			<parameter id="present" value="SearchQueryContentType" />
		</parameter>
	</extension>
	
	<extension id="SearchManagerView" plugin-id="de.ims.icarus.searchTools" point-id="SearchToolsView">
		<doc>
			<doc-text>
				Central management point for search related tasks. Allows the creation and
				modification of search instances and the tracking of their current status.
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.searchTools.searchManagerView.identity.name" />
		<parameter id="description" value="plugins.searchTools.searchManagerView.identity.name" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.SearchManagerView" />
		<parameter id="icon" value="de/ims/icarus/plugins/search_tools/view/search-manager-view.gif" />
		<parameter id="alignment" value="left" />
		<parameter id="priority" value="high" />
		
		<!-- CAPABILITIES -->
		<parameter id="capabilities">
			<parameter id="clear" />
		</parameter>
	</extension>
	
	<extension id="SearchResultView" plugin-id="de.ims.icarus.searchTools" point-id="SearchToolsView">
		<doc>
			<doc-text>
				Generic outline view for search results. Relies on special presenter
				implementations to delegate the actual result visualization to.
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.searchTools.searchResultView.identity.name" />
		<parameter id="description" value="plugins.searchTools.searchResultView.identity.name" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.results.SearchResultView" />
		<parameter id="icon" value="de/ims/icarus/plugins/search_tools/view/search-result-view.gif" />
		<parameter id="alignment" value="center" />
		<parameter id="priority" value="default" />
		
		<!-- CAPABILITIES -->
		<parameter id="capabilities">
			<parameter id="clear" />
			<parameter id="display" value="SearchResultContentType" />
		</parameter>
	</extension>
	
	<!-- CONTENT TYPES -->
	
	<extension id="SearchQueryContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.search_tools.SearchQuery
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.search_tools.SearchQuery" />
	</extension>
	
	
	<extension id="SearchGraphContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.search_tools.SearchGraph
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.search_tools.SearchGraph" />
	</extension>
	
	<extension id="SearchResultContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.search_tools.result.SearchResult
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.search_tools.result.SearchResult" />
	</extension>
	
	<extension id="ConstraintNodeDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.search_tools.view.graph.ConstraintNodeData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.search_tools.view.graph.ConstraintNodeData" />
	</extension>
	
	<extension id="ConstraintCellDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.search_tools.view.graph.ConstraintCellData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.search_tools.view.graph.ConstraintCellData" />
	</extension>
	
	<extension id="ConstraintEdgeDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.search_tools.view.graph.ConstraintEdgeData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.search_tools.view.graph.ConstraintEdgeData" />
	</extension>
	
	<!-- HELPERS -->
	
	<extension id="SerializableElements" plugin-id="de.ims.icarus.core" point-id="Serializable">
		<parameter id="class" value="de.ims.icarus.search_tools.standard.DefaultConstraint" />
		<parameter id="class" value="de.ims.icarus.search_tools.standard.DefaultGraphEdge" />
		<parameter id="class" value="de.ims.icarus.search_tools.standard.DefaultGraphNode" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.graph.ConstraintEdgeData" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.graph.ConstraintNodeData" />
	</extension>
	
	<extension id="TreebankTargetSelector" plugin-id="de.ims.icarus.searchTools" point-id="SearchTargetSelector">
		<parameter id="class" value="de.ims.icarus.search_tools.corpus.TreebankTargetSelector" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="name" value="plugins.searchTools.treebankTargetSelector.identity.name" />
		<parameter id="description" value="plugins.searchTools.treebankTargetSelector.identity.description" />
	</extension>
	
	<!-- RESULT PRESENTERS -->
	
	<extension id="Default0DResultPresenter" plugin-id="de.ims.icarus.searchTools" point-id="SearchResultPresenter">
		<parameter id="dimension" value="0" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.results.Default0DResultPresenter" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="name" value="plugins.searchTools.default0DResultPresenter.identity.name" />
		<parameter id="description" value="plugins.searchTools.default0DResultPresenter.identity.description" />
	</extension>
	
	<extension id="Default1DResultPresenter" plugin-id="de.ims.icarus.searchTools" point-id="SearchResultPresenter">
		<parameter id="dimension" value="1" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.results.Default1DResultPresenter" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="name" value="plugins.searchTools.default1DResultPresenter.identity.name" />
		<parameter id="description" value="plugins.searchTools.default1DResultPresenter.identity.description" />
	</extension>
	
	<extension id="Default2DResultPresenter" plugin-id="de.ims.icarus.searchTools" point-id="SearchResultPresenter">
		<parameter id="dimension" value="2" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.results.Default2DResultPresenter" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="name" value="plugins.searchTools.default2DResultPresenter.identity.name" />
		<parameter id="description" value="plugins.searchTools.default2DResultPresenter.identity.description" />
	</extension>
	
	<extension id="Default3DResultPresenter" plugin-id="de.ims.icarus.searchTools" point-id="SearchResultPresenter">
		<parameter id="dimension" value="3" />
		<parameter id="class" value="de.ims.icarus.plugins.search_tools.view.results.Default3DResultPresenter" />
		<parameter id="resources" value="de.ims.icarus.plugins.search_tools.resources.search_tools" />
		<parameter id="name" value="plugins.searchTools.default3DResultPresenter.identity.name" />
		<parameter id="description" value="plugins.searchTools.default3DResultPresenter.identity.description" />
	</extension>
	
	<!-- CONSTRAINT CONTEXT -->
	
	<extension id="DefaultConstraintContext" plugin-id="de.ims.icarus.searchTools" point-id="ConstraintContext">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="form" />
		<parameter id="factories" />
	</extension>
	
	<!-- SEARCH CONSTRAINTS -->
	
	<extension id="DirectionConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="direction" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.DirectionConstraintFactory" />
	</extension>
	
	<extension id="DistanceConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="distance" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.DistanceConstraintFactory" />
	</extension>
	
	<extension id="FeaturesConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="features" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.FeaturesConstraintFactory" />
	</extension>
	
	<extension id="FormConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="form" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.FormConstraintFactory" />
	</extension>
	
	<extension id="InvertedWordPositionConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="wordPosInv" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.InvertedWordPositionConstraintFactory" />
	</extension>
	
	<extension id="LemmaConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="lemma" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.LemmaConstraintFactory" />
	</extension>
	
	<extension id="PosConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="pos" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.PosConstraintFactory" />
	</extension>
	
	<extension id="ProjectivityConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="projectivity" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.ProjectivityConstraintFactory" />
	</extension>
	
	<extension id="RelativeWordPositionConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="section" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.RelativeWordPositionConstraintFactory" />
	</extension>
	
	<extension id="WordPositionConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="wordPos" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.WordPositionConstraintFactory" />
	</extension>
	
	<extension id="WordPropertyConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="wordProperty" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.WordPropertyConstraintFactory" />
	</extension>
	
	<extension id="SentencePropertyConstraint" plugin-id="de.ims.icarus.searchTools" point-id="SearchConstraint">
		<parameter id="contentType" value="de.ims.icarus.languageTools@SentenceDataContentType" />
		<parameter id="token" value="sentenceProperty" />
		<parameter id="factory" value="de.ims.icarus.search_tools.constraints.SentencePropertyConstraintFactory" />
	</extension>
</plugin>