<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="net.ikarus_systems.icarus.tcf" version="0.0.1"
	class="net.ikarus_systems.icarus.plugins.tcf.TCFPlugin">
	
	<doc>
		<doc-text>
			Interface to the tcf plugin
		</doc-text>
	</doc>
	
	<requires>
		<import plugin-id="net.ikarus_systems.icarus.core" />
		<import plugin-id="net.ikarus_systems.icarus.languageTools" />
	</requires>
	
	<runtime>
		<library id="tcf-04" path="lib/wlfxb-0_4.jar" type="code">
			<doc>
				<doc-text>
					tcf04 other bibs?
				</doc-text>
			</doc>
		</library>
	</runtime>
	
	<!-- Extensions -->
	
	<extension id="TCF04SentenceDataReader" plugin-id="net.ikarus_systems.icarus.languageTools" point-id="SentenceDataReader">
		<doc>
			<doc-text>
				TODO
			</doc-text>
		</doc>
		<parameter id="class" value="net.ikarus_systems.icarus.plugins.tcf.tfc04.TCF04SentenceDataReader" />
	</extension>
</plugin>