<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="de.ims.icarus.matetools" version="0.0.1"
	class="de.ims.icarus.plugins.matetools.MatetoolsPlugin">
	
	<doc>
		<doc-text>
			Interface to the matetools project
		</doc-text>
	</doc>
	
	<attributes>
		<attribute id="de.ims.icarus.resources" value="de.ims.icarus.plugins.matetools.resources.matetools" />
		<attribute id="de.ims.icarus.preferences" value="de.ims.icarus.plugins.matetools.MatetoolsPreferences" />
	</attributes>
	
	<requires>
		<import plugin-id="de.ims.icarus.core" />
		<import plugin-id="de.ims.icarus.languageTools" />
		<import plugin-id="de.ims.icarus.dependency" />
		<import plugin-id="de.ims.icarus.jgraph" />
	</requires>
		
	<runtime>
		<library id="source" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="mate-tools" path="lib/anna-3.3-d8.jar" type="code">
			<doc>
				<doc-text>
					matetools library version 3.3-d8 (SFB732-D8 Project Version)
				</doc-text>
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
			
	<extension-point id="MatetoolsView" parent-point-id="View" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				Special entry point for 'View' extensions that should only
				be used in the matetools context (parser-pipeline, etc).
			</doc-text>
		</doc>
	</extension-point>
	
	<!-- Extensions -->
	
	<extension id="MatetoolsParserPerspective" plugin-id="de.ims.icarus.core" point-id="Perspective">
		<doc>
			<doc-text>
				Perspective dedicated to the use of the matetools parser-pipeline.
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.matetools.matetoolsParserPerspective.identity.name" />
		<parameter id="description" value="plugins.matetools.matetoolsParserPerspective.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.matetools.resources.matetools" />
		<parameter id="class" value="de.ims.icarus.plugins.matetools.parser.MatetoolsParserPerspective" />
		<parameter id="icon" value="de/ims/icarus/plugins/matetools/parser/matetools-parser-perspective.gif" />
	</extension>
	
	<extension id="MatetoolsParserInputView" plugin-id="de.ims.icarus.matetools" point-id="MatetoolsView">
		<doc>
			<doc-text>
				Input and control view for access to the matetools parser-pipeline.
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.matetools.matetoolsParserInputView.identity.name" />
		<parameter id="description" value="plugins.matetools.matetoolsParserInputView.identity.name" />
		<parameter id="resources" value="de.ims.icarus.plugins.matetools.resources.matetools" />
		<parameter id="class" value="de.ims.icarus.plugins.matetools.parser.MatetoolsParserInputView" />
		<parameter id="icon" value="de/ims/icarus/plugins/matetools/parser/matetools-parser-input-view.gif" />
		<parameter id="alignment" value="bottom" />
		<parameter id="priority" value="high" />
		<parameter id="requiresTab" value="false" />
		
		<!-- CAPABILITIES -->
		<parameter id="capabilities">
			<parameter id="clear" />
			<parameter id="set-text" />
			<parameter id="get-text" />
			<parameter id="append" value="StringContentType" />
		</parameter>
	</extension>
	
	<extension id="CONLL09SentenceDataReader" plugin-id="de.ims.icarus.languageTools" point-id="SentenceDataReader">
		<doc>
			<doc-text>
				TODO
			</doc-text>
		</doc>
		<parameter id="class" value="de.ims.icarus.plugins.matetools.conll.CONLL09SentenceDataReader" />
	</extension>
	
	<extension id="CONLL09SentenceDataWriter" plugin-id="de.ims.icarus.languageTools" point-id="SentenceDataWriter">
		<doc>
			<doc-text>
				TODO
			</doc-text>
		</doc>
		<parameter id="class" value="de.ims.icarus.plugins.matetools.conll.CONLL09SentenceDataWriter" />
	</extension>
	
	<extension id="SerializableElements" plugin-id="de.ims.icarus.core" point-id="Serializable">
		<parameter id="class" value="de.ims.icarus.plugins.matetools.parser.ModelStorage" />
	</extension>
</plugin>