<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="de.ims.icarus.prosody" version="0.0.1"
	class="de.ims.icarus.plugins.prosody.ProsodyPlugin">
	
	<doc>
		<doc-text>
			TODO
		</doc-text>
	</doc>
	
	<attributes>
		<attribute id="de.ims.icarus.resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<attribute id="de.ims.icarus.icons" value="de/ims/icarus/plugins/prosody/icons/" />
		<attribute id="de.ims.icarus.preferences" value="de.ims.icarus.plugins.prosody.ProsodyPreferences" />
	</attributes>
	
	<requires>
		<import plugin-id="de.ims.icarus.core" />
		<import plugin-id="de.ims.icarus.languageTools" />
		<import plugin-id="de.ims.icarus.searchTools" />
		<import plugin-id="de.ims.icarus.jgraph" />
		<import plugin-id="de.ims.icarus.dependency" />
		<import plugin-id="de.ims.icarus.coref" />
	</requires>
	
	<runtime>
		<library id="source" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<!-- Extension-Points -->
			
	<extension-point id="ProsodySentencePresenter" parent-point-id="Localizable" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				Member of the prosody visualization framework. Extensions
				of this point are responsible for providing a highly specialized
				view for a single prosodic sentence. Usually a view relying
				on such presenters will provide the user with options to select
				the presenter he considers most useful for the task at hand.
				It is recommended that extensions make use of all the optional
				parameter fields of parent point 'Localizable'! 
			</doc-text>
		</doc>
		<parameter-def id="class">
			<doc>
				<doc-text>
					Class of presenter object, has to implement the de.ims.icarus.ui.view.AWTPresenter interface!
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
	
	<!-- Standard Extensions -->
	
	<!-- PERSPECTIVES AND VIEWS -->
	
	<extension id="PaIntEEditorView" plugin-id="de.ims.icarus.coref" point-id="CoreferenceView">
		<doc>
			<doc-text>
				Presentation view that allows for selection of different visualization
				types for a single document and its allocations.
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.prosody.painteEditorView.identity.name" />
		<parameter id="description" value="plugins.prosody.painteEditorView.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.view.editor.PaIntEEditorView" />
		<parameter id="icon" value="de/ims/icarus/plugins/prosody/ui/view/painte-editor-view.gif" />
		<parameter id="alignment" value="center" />
		<parameter id="priority" value="low" />
		
		<!-- CAPABILITIES -->
		<parameter id="capabilities">
			<parameter id="clear" />
			<parameter id="present" value="PainteParamsContentType" />
		</parameter>
	</extension>
	
	<!-- HELPERS -->
	
	<extension id="ProsodySearchResultPresenter" plugin-id="de.ims.icarus.core" point-id="UIHelper">
		<doc>
			<doc-text>
				GraphPresenter implementation for use with arbitrary sentence data that implements
				the de.ims.icarus.plugins.prosody.ProsodicSentenceData interface.
			</doc-text>
		</doc>
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.result.ProsodySearchResultPresenter" />
		<parameter id="contentType" value="de.ims.icarus.prosody@ProsodicSentenceDataContentType" />
		<parameter id="interface" value="de.ims.icarus.ui.view.AWTPresenter.GraphBasedPresenter" />
	</extension>
	
	<extension id="ProsodySentenceDetailPresenter" plugin-id="de.ims.icarus.prosody" point-id="ProsodySentencePresenter">
		<parameter id="name" value="plugins.prosody.prosodySentenceDetailPresenter.identity.name" />
		<parameter id="description" value="plugins.prosody.prosodySentenceDetailPresenter.identity.name" />
		<parameter id="resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.details.ProsodySentenceDetailPresenter" />
	</extension>
	
	<extension id="ProsodySentenceGraphPresenter" plugin-id="de.ims.icarus.prosody" point-id="ProsodySentencePresenter">
		<parameter id="name" value="plugins.prosody.prosodySentenceGraphPresenter.identity.name" />
		<parameter id="description" value="plugins.prosody.prosodySentenceGraphPresenter.identity.name" />
		<parameter id="resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.graph.ProsodySentenceGraphPresenter" />
	</extension>
	
	<extension id="ProsodySentenceTablePresenter" plugin-id="de.ims.icarus.prosody" point-id="ProsodySentencePresenter">
		<parameter id="name" value="plugins.prosody.prosodySentenceTablePresenter.identity.name" />
		<parameter id="description" value="plugins.prosody.prosodySentenceTablePresenter.identity.name" />
		<parameter id="resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.table.ProsodySentenceTablePresenter" />
	</extension>
	
	<extension id="ProsodyDocumentReader" plugin-id="de.ims.icarus.coref" point-id="DocumentReader">
		<parameter id="name" value="plugins.prosody.prosodyDocumentReader.identity.name" />
		<parameter id="description" value="plugins.prosody.prosodyDocumentReader.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.io.ProsodyDocumentReader" />
	</extension>
	
	<extension id="ProsodyOutlinePresenter" plugin-id="de.ims.icarus.coref" point-id="CoreferencePresenter">
		<parameter id="name" value="plugins.prosody.prosodyOutlinePresenter.identity.name" />
		<parameter id="description" value="plugins.prosody.prosodyOutlinePresenter.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.view.outline.ProsodyOutlinePresenter" />
	</extension>
	
	<extension id="ProsodyListCellRenderer" plugin-id="de.ims.icarus.core" point-id="UIHelper">
		<doc>
			<doc-text>
				TODO
			</doc-text>
		</doc>
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.helper.ProsodyListCellRenderer" />
		<parameter id="contentType" value="de.ims.icarus.prosody@ProsodicSentenceDataContentType" />
		<parameter id="interface" value="javax.swing.ListCellRenderer" />
	</extension>
	
	<extension id="ProsodicAnnotationManager" plugin-id="de.ims.icarus.core" point-id="UIHelper">
		<doc>
			<doc-text>
				Annotation manager implementation to be used with DependencyAnnotation
				objects.
			</doc-text>
		</doc>
		<parameter id="class" value="de.ims.icarus.plugins.prosody.annotation.ProsodicAnnotationManager" />
		<parameter id="contentType" value="de.ims.icarus.prosody@ProsodicAnnotationContentType" />
		<parameter id="interface" value="de.ims.icarus.util.annotation.AnnotationManager" />
	</extension>
	
	<extension id="SerializableElements" plugin-id="de.ims.icarus.core" point-id="Serializable">
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.geom.GridStyle" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.geom.AntiAliasingType" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.ui.view.PreviewSize" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.painte.PaIntEParams" />
	</extension>
	
	<!-- CONTENT TYPES -->
	
	<extension id="ProsodicDocumentDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.prosody.ProsodicDocumentData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.prosody.ProsodicDocumentData" />
	</extension>
	
	<extension id="ProsodicSentenceDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.prosody.ProsodicSentenceData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.prosody.ProsodicSentenceData" />
	</extension>
	
	<extension id="PainteParamsContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.prosody.painte.PaIntEParams
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.prosody.painte.PaIntEParams" />
	</extension>
	
	<extension id="ProsodicAnnotationContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.prosody.annotation.ProsodicAnnotation
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.prosody.annotation.ProsodicAnnotation" />
	</extension>
	
	<!-- CONSTRAINT CONTEXT AND FACTORY  -->
	
	<extension id="ProsodyConstraintContext" plugin-id="de.ims.icarus.searchTools" point-id="ConstraintContext">
		<parameter id="contentType" value="de.ims.icarus.prosody@ProsodicSentenceDataContentType" />
		<!-- tokens "inherited" by dependency data -->
		<parameter id="token" value="form" />
		<parameter id="token" value="pos" />
		<!-- new tokens -->
		<parameter id="token" value="syllableProperty" />
		<parameter id="token" value="wordProperty" />
		<parameter id="token" value="sylCount" />
		<parameter id="token" value="accentShape" />
		<parameter id="token" value="wordPos" />
		<parameter id="token" value="section" />
		<parameter id="token" value="painteIntegral" />
		<parameter id="token" value="painteRange" />
		<parameter id="token" value="painteCurve" />
		<parameter id="token" value="painteAngle" />
		<parameter id="token" value="painteDistance" />
		<parameter id="token" value="painteChannel" />
		<parameter id="factories">
			<!-- factories "inherited" by dependency data -->
			<parameter id="form" value="de.ims.icarus.language.dependency.search.constraints.DependencyFormConstraintFactory" />
			<parameter id="pos" value="de.ims.icarus.language.dependency.search.constraints.DependencyPosConstraintFactory" />
			<!-- new factories -->
			<parameter id="syllableProperty" value="de.ims.icarus.plugins.prosody.search.constraints.ProsodySyllablePropertyConstraintFactory" />
			<parameter id="wordProperty" value="de.ims.icarus.plugins.prosody.search.constraints.ProsodyWordPropertyConstraintFactory" />
			<parameter id="sylCount" value="de.ims.icarus.plugins.prosody.search.constraints.ProsodySyllableCountConstraintFactory" />
			<parameter id="accentShape" value="de.ims.icarus.plugins.prosody.search.constraints.painte.PaIntEAccentShapeConstraintFactory" />
			<parameter id="wordPos" value="de.ims.icarus.plugins.prosody.search.constraints.ProsodyWordPositionConstraintFactory" />
			<parameter id="section" value="de.ims.icarus.plugins.prosody.search.constraints.ProsodyRelativeWordPositionConstraintFactory" />
			<parameter id="painteIntegral" value="de.ims.icarus.plugins.prosody.search.constraints.painte.PaIntEIntegralConstraintFactory" />
			<parameter id="painteRange" value="de.ims.icarus.plugins.prosody.search.constraints.painte.PaIntERangeConstraintFactory" />
			<parameter id="painteCurve" value="de.ims.icarus.plugins.prosody.search.constraints.painte.PaIntECurveConstraintFactory" />
			<parameter id="painteAngle" value="de.ims.icarus.plugins.prosody.search.constraints.painte.PaIntEAngleConstraintFactory" />
			<parameter id="painteDistance" value="de.ims.icarus.plugins.prosody.search.constraints.painte.PaIntEDistanceConstraintFactory" />
			<parameter id="painteChannel" value="de.ims.icarus.plugins.prosody.search.constraints.painte.PaIntEChannelConstraintFactory" />
		</parameter>
	</extension>
	
	<extension id="ProsodySearchFactory" plugin-id="de.ims.icarus.searchTools" point-id="SearchFactory">
		<parameter id="contentType" value="de.ims.icarus.prosody@ProsodicSentenceDataContentType" />
		<parameter id="class" value="de.ims.icarus.plugins.prosody.search.ProsodySearchFactory" />
		<parameter id="name" value="plugins.prosody.prosodySearchFactory.identity.name" />
		<parameter id="description" value="plugins.prosody.prosodySearchFactory.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<parameter id="icon" value="de/ims/icarus/plugins/prosody/search/prosody-search-factory.gif" />
	</extension>
	
	<extension id="ProsodyTargetSelector" plugin-id="de.ims.icarus.searchTools" point-id="SearchTargetSelector">
		<parameter id="class" value="de.ims.icarus.plugins.prosody.search.ProsodyTargetSelector" />
		<parameter id="resources" value="de.ims.icarus.plugins.prosody.resources.prosody" />
		<parameter id="name" value="plugins.prosody.prosodyTargetSelector.identity.name" />
		<parameter id="description" value="plugins.prosody.prosodyTargetSelector.identity.name" />
	</extension>
	
</plugin>