<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="de.ims.icarus.language.coref" version="0.0.1"
	class="de.ims.icarus.plugins.coref.CoreferencePlugin">
	
	<doc>
		<doc-text>
			TODO
		</doc-text>
	</doc>
	
	<attributes>
		<attribute id="de.ims.icarus.resources" value="de.ims.icarus.plugins.coref.resources.coref" />
		<attribute id="de.ims.icarus.icons" value="de/ims/icarus/plugins/coref/icons/" />
		<attribute id="de.ims.icarus.preferences" value="de.ims.icarus.plugins.coref.CoreferencePreferences" />
	</attributes>
	
	<requires>
		<import plugin-id="de.ims.icarus.core" />
		<import plugin-id="de.ims.icarus.languageTools" />
		<import plugin-id="de.ims.icarus.searchTools" />
		<import plugin-id="de.ims.icarus.jgraph" />
	</requires>
	
	<runtime>
		<library id="source" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="args4j" path="lib/args4j-20120919.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="ims-hotcoref" path="lib/ims-hotcoref-src.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jaws" path="lib/jaws-bin.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="liblinear" path="lib/liblinear-1.8.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="mallet-deps" path="lib/mallet-deps.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="mallet" path="lib/mallet.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="trove" path="lib/trove-3.0.3.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<!-- Extension-Points -->
			
	<extension-point id="CoreferencePresenter" parent-point-id="Localizable" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				Member of the coreference visualization framework. Extensions
				of this point are responsible for providing a highly specialized
				view for a single corefference document. Usually a view relying
				on such presenters will provide the user with options to select
				the presenter he considers most useful for the task at hand.
				It is recommended that extensions make use of all the optional
				parameter fields of parent point 'Localizable'! 
			</doc-text>
		</doc>
		<parameter-def id="class">
			<doc>
				<doc-text>
					Class of presenter object, has to implement the de.ims.icarus.ui.view.AWTPresenter interface!
				</doc-text>
			</doc>
		</parameter-def>
	</extension-point>
	
	<!-- Standard Extensions -->
	
	<!-- PERSPECTIVES AND VIEWS -->
	
	<extension id="CoreferencePerspective" plugin-id="de.ims.icarus.core" point-id="Perspective">
		<doc>
			<doc-text>
				TODO
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.coref.coreferencePerspective.identity.name" />
		<parameter id="description" value="plugins.coref.coreferencePerspective.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.coref.resources.coref" />
		<parameter id="class" value="de.ims.icarus.plugins.coref.CoreferencePerspective" />
		<parameter id="icon" value="de/ims/icarus/plugins/coref/coreference-perspective.gif" />
		<parameter id="preview" value="de/ims/icarus/plugins/coref/coreference-perspective-preview.jpg" />
	</extension>
	
	<!-- HELPERS -->
	
	<!-- CONTENT TYPES -->
	
	<extension id="CoreferenceDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.language.coref.CoreferenceData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.language.coref.CoreferenceData" />
	</extension>
	
	<extension id="CoreferenceDocumentDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.language.coref.CoreferenceDocumentData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.language.coref.CoreferenceDocumentData" />
	</extension>
	
	<extension id="CoreferenceDocumentSetContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.language.coref.CoreferenceDocumentSet
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.language.coref.CoreferenceDocumentSet" />
	</extension>
	
	<extension id="CoreferenceEdgeSetContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.language.coref.EdgeSet
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.language.coref.EdgeSet" />
	</extension>
	
	<extension id="CoreferenceSpanContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.language.coref.Span
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.language.coref.Span" />
	</extension>
	
	<extension id="CoreferenceEdgeContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.language.coref.Edge
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.language.coref.Edge" />
	</extension>
	
</plugin>