<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="net.ikarus_systems.icarus.dependency" version="0.0.1"
	class="net.ikarus_systems.icarus.plugins.dependency.DependencyPlugin">
	
	<doc>
		<doc-text>
			The base plug-in for all dependency related tools. Offers definitions for
			dependency based data structures and related tools. Provides basic visualization
			helpers for tabular, graphical and testual representation.
		</doc-text>
	</doc>
	
	<requires>
		<import plugin-id="net.ikarus_systems.icarus.core" />
		<import plugin-id="net.ikarus_systems.icarus.languageTools" />
		<import plugin-id="net.ikarus_systems.icarus.jgraph" />
		<import plugin-id="net.ikarus_systems.icarus.searchTools" />
	</requires>
	
	<!-- Standard Extensions -->
	
	<!-- PROPERTIES AND VIEWS -->
	
	<!-- HELPERS -->
	
	<extension id="DependencyGraphPresenter" plugin-id="net.ikarus_systems.icarus.core" point-id="UIHelper">
		<doc>
			<doc-text>
				GraphPresenter implementation for use with arbitrary sentence data that implements
				the net.ikarus_systems.icarus.language.dependency.DependencyData interface.
			</doc-text>
		</doc>
		<parameter id="class" value="net.ikarus_systems.icarus.plugins.dependency.graph.DependencyGraphPresenter" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
		<parameter id="interface" value="net.ikarus_systems.icarus.plugins.jgraph.view.GraphPresenter" />
	</extension>
	
	<extension id="DependencyTablePresenter" plugin-id="net.ikarus_systems.icarus.core" point-id="UIHelper">
		<doc>
			<doc-text>
				TablePresenter implementation for use with arbitrary sentence data that implements
				the net.ikarus_systems.icarus.language.dependency.DependencyData interface.
			</doc-text>
		</doc>
		<parameter id="class" value="net.ikarus_systems.icarus.plugins.dependency.table.DependencyTablePresenter" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
		<parameter id="interface" value="net.ikarus_systems.icarus.ui.table.TablePresenter" />
	</extension>
	
	<extension id="SerializableElements" plugin-id="net.ikarus_systems.icarus.core" point-id="Serializable">
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.DependencyNodeData" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.SimpleDependencyData" />
	</extension>
	
	<!-- CONTENT TYPES -->
	
	<extension id="DependencyDataContentType" plugin-id="net.ikarus_systems.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on net.ikarus_systems.icarus.language.dependency.DependencyData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="net.ikarus_systems.icarus.language.dependency.DependencyData" />
	</extension>
	
	<!-- CONSTRAINT FACTORIES -->
	
	<extension id="FormConstraintFactory" plugin-id="net.ikarus_systems.icarus.searchTools" point-id="ConstraintFactory">
		<parameter id="token" value="dependencyform" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.search.DependencyFormContraintFactory" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
	</extension>
	
	<extension id="PosConstraintFactory" plugin-id="net.ikarus_systems.icarus.searchTools" point-id="ConstraintFactory">
		<parameter id="token" value="dependency_pos" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.search.DependencyPosContraintFactory" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
	</extension>
	
	<extension id="LemmaConstraintFactory" plugin-id="net.ikarus_systems.icarus.searchTools" point-id="ConstraintFactory">
		<parameter id="token" value="dependency_lemma" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.search.DependencyLemmaContraintFactory" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
	</extension>
	
	<extension id="RelationConstraintFactory" plugin-id="net.ikarus_systems.icarus.searchTools" point-id="ConstraintFactory">
		<parameter id="token" value="dependency_relation" />
		<parameter id="token" value="dependency_rel" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.search.DependencyRelationContraintFactory" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
	</extension>
	
	<extension id="DistanceConstraintFactory" plugin-id="net.ikarus_systems.icarus.searchTools" point-id="ConstraintFactory">
		<parameter id="token" value="dependency_distance" />
		<parameter id="token" value="dependency_dist" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.search.DependencyDistanceContraintFactory" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
	</extension>
	
	<extension id="FeaturesConstraintFactory" plugin-id="net.ikarus_systems.icarus.searchTools" point-id="ConstraintFactory">
		<parameter id="token" value="dependency_features" />
		<parameter id="token" value="dependency_feats" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.search.DependencyFeaturesContraintFactory" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
	</extension>
	
	<extension id="DirectionConstraintFactory" plugin-id="net.ikarus_systems.icarus.searchTools" point-id="ConstraintFactory">
		<parameter id="token" value="dependency_direction" />
		<parameter id="token" value="dependency_dir" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.search.DependencyDirectionContraintFactory" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
	</extension>
	
	<extension id="DirectionProjectivityFactory" plugin-id="net.ikarus_systems.icarus.searchTools" point-id="ConstraintFactory">
		<parameter id="token" value="dependency_projectivity" />
		<parameter id="class" value="net.ikarus_systems.icarus.language.dependency.search.DependencyProjectivityContraintFactory" />
		<parameter id="contentType" value="net.ikarus_systems.icarus.dependency@DependencyDataContentType" />
	</extension>	
	
</plugin>