<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="net.ikarus_systems.icarus.dependency" version="0.0.1"
	class="net.ikarus_systems.icarus.plugins.dependency.DependencyPlugin">
	
	<doc>
		<doc-text>
			The base plug-in for all dependency related tools.
		</doc-text>
	</doc>
	
	<requires>
		<import plugin-id="net.ikarus_systems.icarus.core" />
		<import plugin-id="net.ikarus_systems.icarus.languageTools" />
		<import plugin-id="net.ikarus_systems.icarus.jgraph" />
	</requires>
	
	<extension id="DependencyDataContentType" plugin-id="net.ikarus_systems.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on net.ikarus_systems.icarus.language.dependency.DependencyData
			</doc-text>
		</doc>
		<parameter id="contentClass" value="net.ikarus_systems.icarus.language.dependency.DependencyData" />
	</extension>
</plugin>