<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="de.ims.icarus.errormining" version="0.0.1"
	class="de.ims.icarus.plugins.errormining.ErrorMiningPlugin">
	
	<doc>
		<doc-text>
			Error mining for linguistic annotated corpora
		</doc-text>
	</doc>
	
	<attributes>
		<attribute id="de.ims.icarus.resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<attribute id="de.ims.icarus.icons" value="de/ims/icarus/plugins/errormining/icons/" />
		<attribute id="de.ims.icarus.preferences" value="de.ims.icarus.plugins.errormining.ErrorMiningPreferences" />	
	</attributes>
	
	<requires>
		<import plugin-id="de.ims.icarus.core" />
		<import plugin-id="de.ims.icarus.languageTools" />
		<import plugin-id="de.ims.icarus.searchTools" />
		<import plugin-id="de.ims.icarus.jgraph" />		
		<import plugin-id="de.ims.icarus.matetools" />
		<import plugin-id="de.ims.icarus.dependency" />		
	</requires>
	
	<runtime>
		<library id="source" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="jfreechart" path="lib/jfreechart-1.0.17.jar" type="code">
			<doc>
				<doc-text>
					jfreechart library version 1.0.17
				</doc-text>
			</doc>
			<export prefix="*" />
		</library>
		<library id="jcommon" path="lib/jcommon-1.0.21.jar" type="code">
			<doc>
				<doc-text>
					jcommon library version 1.0.21
				</doc-text>
			</doc>
			<export prefix="*" />
		</library>
	</runtime>
	
	<!-- Extension-Points -->
	
	<extension-point id="ErrorMiningManagementView" parent-point-id="View" 
			parent-plugin-id="de.ims.icarus.core">
		<doc>
			<doc-text>
				Special entry point for 'View' extensions that should only
				be used in the error mining context.
			</doc-text>
		</doc>
	</extension-point>
	
	
	<!-- Standard Extensions -->
	
	<extension id="ListGraphViewLink" plugin-id="de.ims.icarus.core" point-id="Link">
		<parameter id="extension" value="de.ims.icarus.jgraph@ListGraphView" />
		<parameter id="extension-point" value="de.ims.icarus.errormining@ErrorMiningManagementView" />
	</extension>
	
	<extension id="ErrorMiningPerspective" plugin-id="de.ims.icarus.core" point-id="Perspective">
		<doc>
			<doc-text>
				Perspective that allows the management of the ErrorMining Service
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.errormining.errorMiningPerspective.identity.name" />
		<parameter id="description" value="plugins.errormining.errorMiningPerspective.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<parameter id="class" value="de.ims.icarus.plugins.errormining.ErrorMiningPerspective" />
		<parameter id="icon" value="de/ims/icarus/plugins/errormining/errormining-perspective.gif" />
		<parameter id="preview" value="de/ims/icarus/plugins/errormining/errormining-preview.jpg" />	
	</extension>
	
	<extension id="ErrorMiningView" plugin-id="de.ims.icarus.errormining" point-id="ErrorMiningManagementView">
		<doc>
			<doc-text>
				Collection of basic ngram Stuff / Algorithms
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.errormining.errorMiningView.identity.name" />
		<parameter id="description" value="plugins.errormining.errorMiningView.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<parameter id="class" value="de.ims.icarus.plugins.errormining.ErrorMiningView" />
		<parameter id="icon" value="de/ims/icarus/plugins/errormining/icons/link_package.gif" />
		<parameter id="alignment" value="left" />
		<parameter id="priority" value="high" />
	</extension>
	

	<extension id="NGramResultView" plugin-id="de.ims.icarus.errormining" point-id="ErrorMiningManagementView">
		<doc>
			<doc-text>
				Show all ngrams found during NGram Process (Debug).
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.errormining.nGramResultView.identity.name" />
		<parameter id="description" value="plugins.errormining.nGramResultView.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<parameter id="class" value="de.ims.icarus.plugins.errormining.NGramResultView" />
		<parameter id="icon" value="de/ims/icarus/plugins/errormining/webservice-edit-view.gif" />
		<parameter id="alignment" value="center" />
		<parameter id="priority" value="standard" />
	</extension>
	

	<extension id="NGramResultSentenceView" plugin-id="de.ims.icarus.errormining" point-id="ErrorMiningManagementView">
		<doc>
			<doc-text>
				Show all ngrams User View
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.errormining.nGramResultSentenceView.identity.name" />
		<parameter id="description" value="plugins.errormining.nGramResultSentenceView.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<parameter id="class" value="de.ims.icarus.plugins.errormining.NGramResultSentenceView" />
		<parameter id="icon" value="de/ims/icarus/plugins/errormining/webservice-edit-view.gif" />
		<parameter id="alignment" value="center" />
		<parameter id="priority" value="low" />
	</extension>


<!--
	Old Query Editor View not needed in ErrorMiningPerspective 
	-> moved to Search perspective
	<extension id="NGramQueryView" plugin-id="de.ims.icarus.errormining" point-id="ErrorMiningManagementView">
		<doc>
			<doc-text>
				Edit Tag Classes for Query
			</doc-text>
		</doc>
		<parameter id="name" value="plugins.errormining.nGramQueryView.identity.name" />
		<parameter id="description" value="plugins.errormining.nGramQueryView.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<parameter id="class" value="de.ims.icarus.plugins.errormining.NGramQueryView" />
		<parameter id="icon" value="de/ims/icarus/plugins/search_tools/view/query-editor-view.gif" />
		<parameter id="alignment" value="center" />
		<parameter id="priority" value="standard" />
	</extension>
-->

	
	
	<!-- CONTENT TYPES -->
	
	<extension id="NGramSentenceDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.errormining.ngram_tools.NGramSentenceData.java
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.errormining.ngram_tools.NGramSentenceData" />
	</extension>

	<extension id="NGramAnnotationContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.language.errormining.annotation.NGramAnnotation
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.errormining.annotation.NGramAnnotation" />
	</extension>


	<extension id="NGramDataContentType" plugin-id="de.ims.icarus.core" point-id="ContentType">
		<doc>
			<doc-text>
				Content type based on de.ims.icarus.plugins.errormining.NGramData.java
			</doc-text>
		</doc>
		<parameter id="contentClass" value="de.ims.icarus.plugins.errormining.NGramData" />
	</extension>	

	
	<!-- CONSTRAINT CONTEXT AND FACTORY  -->
	
	<extension id="NGramConstraintContext" plugin-id="de.ims.icarus.searchTools" point-id="ConstraintContext">
		<parameter id="contentType" value="de.ims.icarus.dependency@DependencyDataContentType" />
		<parameter id="token" value="tag" />
		<parameter id="factories">
			<parameter id="tag" value="de.ims.icarus.plugins.errormining.ngram_search.NGramTagConstraintFactory" />
		</parameter>
	</extension>
		
	<extension id="NGramSearchFactory" plugin-id="de.ims.icarus.searchTools" point-id="SearchFactory">
		<parameter id="contentType" value="de.ims.icarus.dependency@DependencyDataContentType" />
		<parameter id="class" value="de.ims.icarus.plugins.errormining.ngram_search.NGramSearchFactory" />
		<parameter id="name" value="plugins.errormining.nGgramSearchFactory.identity.name" />
		<parameter id="description" value="plugins.errormining.nGramSearchFactory.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<parameter id="icon" value="de/ims/icarus/plugins/errormining/ngram_search/ngram-search-factory.gif" />
	</extension>
	
	<extension id="NGramSearchFactoryDependency" plugin-id="de.ims.icarus.searchTools" point-id="SearchFactory">
		<parameter id="contentType" value="de.ims.icarus.dependency@DependencyDataContentType" />
		<parameter id="class" value="de.ims.icarus.plugins.errormining.ngram_search.NGramSearchFactoryDependency" />
		<parameter id="name" value="plugins.errormining.nGramSearchFactoryDependency.identity.name" />
		<parameter id="description" value="plugins.errormining.nGramSearchFactoryDependency.identity.description" />
		<parameter id="resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<parameter id="icon" value="de/ims/icarus/plugins/errormining/ngram_search/ngram-search-factory.gif" />
	</extension>
	
<!--
	<extension id="CoreferenceDocumentDataPresenter" plugin-id="de.ims.icarus.core" point-id="UIHelper">
		<doc>
			<doc-text>
				Basic presenter for visualization of coreference document objects that wraps a
				collection of specialized other presenters that perform the actual presentation.
			</doc-text>
		</doc>
		<parameter id="class" value="de.ims.icarus.plugins.coref.view.CoreferenceDocumentDataPresenter" />
		<parameter id="contentType" value="de.ims.icarus.coref@CoreferenceDocumentDataContentType" />
		<parameter id="interface" value="de.ims.icarus.ui.view.AWTPresenter" />
	</extension>

-->

	<extension id="NGramListCellRenderer" plugin-id="de.ims.icarus.core" point-id="UIHelper">
		<doc>
			<doc-text>
				TODO
			</doc-text>
		</doc>
		<parameter id="class" value="de.ims.icarus.plugins.errormining.view.NGramListCellRenderer" />
		<parameter id="contentType" value="de.ims.icarus.errormining@NGramDataContentType" />
		<parameter id="interface" value="javax.swing.ListCellRenderer" />
	</extension>
	
<!-- RESULT PRESENTERS -->
	<extension id="ErrorMiningSearchPresenter" plugin-id="de.ims.icarus.searchTools" point-id="SearchResultPresenter">
		<parameter id="dimension" value="0" />
		<parameter id="class" value="de.ims.icarus.plugins.errormining.ngram_search.ErrorMiningSearchPresenter" />
		<parameter id="resources" value="de.ims.icarus.plugins.errormining.resources.errormining" />
		<parameter id="name" value="plugins.errormining.errorMiningSearchPresenter.identity.name" />
		<parameter id="description" value="plugins.errormining.errorMiningSearchPresenter.identity.description" />
		<parameter id="contentType" value="de.ims.icarus.errormining@NGramDataContentType" />
	</extension>

	
</plugin>